@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model dynamic
@{
    ViewData["Title"] = "Home Page";
}
@if (SignInManager.IsSignedIn(User))
{
    int count = 0;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is your portfolio</p>
    @using (Html.BeginForm())
    {
        <div class="search-div">
            <div class="searching">
                @Html.TextBox("CoinSearch", "", new { @class = "form-control", @placeholder = "🔍 Search token name or ticker", onclick = "toggleDropdown()", onkeyup = "filterFunction()", autocomplete = "off" })
                <input type="submit" value="Search" class="btn btn-outline-primary" />
            </div>
            @if ((Model.Search).ToString() == "")
            {
                <div id="coin-dropdown">
                    <p class="trending-coins">Trending Coins 🔥</p>
                    <ul>
                        @foreach (var item in Model.Trend)
                        {
                            <a href="#" data-toggle="modal" data-target="#exampleModalCenter">
                            <li><img src="@item.item.thumb" /> @item.item.name (@item.item.symbol) <span class="text-right">#@item.item.market_cap_rank</span></li></a>

                        }
                    </ul>
                </div>
            }
            else
            {
                <div id="coin-dropdown">
                    <p class="trending-coins">Searched Coins 🔍</p>
                    <ul>
                        @foreach (var item in Model.Search)
                        {
                            <a href="#" data-toggle="modal" data-target="#exampleModalCenter">
                            <li><img src="@item.thumb" /> @item.name (@item.symbol) <span class="text-right">#@item.market_cap_rank</span></li></a>
                            if (++count == 7)
                            {
                                break;
                            }

                        }
                    </ul>
                </div>
            }
        </div>
    }
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add Transaction</button>
            </div>
        </div>
    </div>
</div>
</div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p><a asp-area="Identity" asp-page="/Account/Login">Login</a> or <a asp-area="Identity" asp-page="/Account/Register">Register</a> to view your portfolio.</p>
    </div>
}

<script>
    var input = document.getElementById("CoinSearch").value;
    function toggleDropdown() {        
        var x = document.getElementById("coin-dropdown");
        if (x.style.display === 'block') {
            x.style.display = 'none'
        } else {
            x.style.display = 'block'
        }      
    };

    $("#messageform").submit(function (e) {
        e.preventDefault();
        $("#message").focus();//this here
    });

    function filterFunction() {
        let input, filter, a, i;
        input = document.getElementById("CoinSearch");
        filter = input.value.toUpperCase();
        div = document.getElementById("coin-dropdown");
        a = div.getElementsByTagName("li");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }

</script>